.content {
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-bottom: 20px;
    text-align: center;
}

.content .welcome {
    text-align: center;
}

.content .homepage-thumbnails {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
}

.content .homepage-thumbnails .thumbnail {
    border-radius: 100%;
    height: 70px;
    width: 70px;
}

.content .about {
    display: flex;
    align-content: space-between;
    align-items: center;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    font-size: 11px;
}

.content .profile-photo {
    margin-right: 20px;
    border-radius: 100%;
    height: 200px;
}

.products {
    display: grid;
    grid-template-rows: auto;
}

.products .row {
    display: grid;
    grid-auto-rows: min-content;
}


.products-thumbnails {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.product-description {
    display: flex;
    align-items: center;
    margin: 10px;
}

.product-category {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    display: flex;
    justify-self: center;
    margin-bottom: 10px;
}

.first-row {
    display: flex;
    flex-wrap: wrap;
}

.contact-information {
    margin-left: 10px;
    margin-right: 10px;
}

.contact-headers {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin-bottom: 5px;
}

/*Tablets*/
@media (min-width: 550px){

    .content {
        font-size: 18px;
    }

    .content .homepage-thumbnails .thumbnail {
        border-radius: 100%;
        height: 110px;
        width: 110px;
    }

    .content .about {
        font-size: 18px;
    }

    .products-thumbnails {
        width: 150px;
        height: 150px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .product-category {
        font-size: 40px;
    }
    
    .contact-headers {
        font-size: 26px;
    }
}

/*Desktop*/
@media (min-width: 750px){
    .content .homepage-thumbnails .thumbnail {
        border-radius: 100%;
        height: 160px;
        width: 160px;
    }
}

